@inherits LayoutComponentBase

@inject NavigationManager _navigationManager

<MudThemeProvider Theme="@_theme" IsDarkMode />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="0">
        <MudImage Src="images\logo_500px.png" Width="40" Height="40" />
        <MudText Typo="Typo.h5" Class="ml-3 shades-text text-white">Prosperous Universe Statistics</MudText>
        <MudToolBar>
            <MudButton Href="@RouteConstants.Home"
                       Color="Color.Inherit" 
                       Style="text-transform: none;"
                       Variant="Variant.Text"
                       Class="@GetActiveClass(RouteConstants.Home)"
            >Home</MudButton>
            <MudButton Href="@RouteConstants.CompanyList"
                    Color="Color.Inherit" 
                    Style="text-transform: none;"
                    Variant="Variant.Text"
                    Class="@GetActiveClass(RouteConstants.CompanyList)"
            >Company list</MudButton>
        </MudToolBar>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme? _theme = null;

    private string GetActiveClass(string href)
    {
        return _navigationManager.Uri.EndsWith(href) ? "mud-chip-text mud-chip-color-secondary mx-1 px-3" : "mx-1 px-3";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new MudTheme
        {
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#3fa2de",
        Secondary = "#f7a600",
        Tertiary = "#f7a600",
        Surface = "#222222cc",
        Background = "#222222",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "#1E1E1Ecc",
        DrawerBackground = "#1E1E1Ecc",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#b2b0bf",
        TextSecondary = "#f7a600",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };
}


